@import "tailwindcss";
@plugin "tailwindcss-animate";

@theme {
  --color-green-primary: #019340;
  --color-green-medium: #d0ffdf;
  --color-green-subtle: #f2faf5;
  --color-background: #fffffe;

  --color-border: #d9d9d980;
  --color-input: #f7f7f7;
}

@theme inline {
  --background: var(--color-background);
  --green-subtle: var(--color-green-subtle);
  --green-medium: var(--color-green-medium);
  --green-primary: var(--color-green-primary);
}

@layer base {
  * {
    @apply box-border m-0 p-0;
  }
  body {
    @apply bg-background;
  }
}

@layer utilities {
  .flex-between {
    @apply flex justify-between items-center;
  }

  .flex-center {
    @apply flex justify-center items-center;
  }
}

@layer components {
  .wrapper {
    @apply w-full max-w-[1440px] py-10;
  }

  .navbar {
    @apply w-full max-w-[1440px] h-18 bg-green-primary;
  }

  .btn-secondary {
    @apply py-2 px-4 rounded-lg border border-green-primary text-green-primary bg-gray-50 text-lg;
  }

  .btn-primary {
    @apply bg-green-primary text-white font-bold;
  }
}
